In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [6]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [7]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [8]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [9]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [10]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

ANN Regression

In [11]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From c:\Users\yedug\OneDrive\Desktop\ANN\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [12]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

WARNING:tensorflow:From c:\Users\yedug\OneDrive\Desktop\ANN\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\yedug\OneDrive\Desktop\ANN\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [14]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [15]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\yedug\OneDrive\Desktop\ANN\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\yedug\OneDrive\Desktop\ANN\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 3ms/step - loss: 100381.4062 - mae: 100381.4062 - val_loss: 98534.9766 - val_mae: 98534.9766
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 99698.2422 - mae: 99698.2422 - val_loss: 97151.2812 - val_mae: 97151.2812
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 97290.3281 - mae: 97290.3281 - val_loss: 93613.0469 - val_mae: 93613.0469
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 92543.1484 - mae: 92543.1484 - val_loss: 87711.3281 - val_mae: 87711.3281
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 85541.5547 - mae: 85541.5547 - val_loss: 79997.2422 - val_mae: 79997.2422
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 77214.7109 - mae: 77214.7109 - val_loss: 71766.2656 - val_mae: 71766.2656
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 68905.0938 - mae: 68905.0938 - val_loss: 64171.8945 - val_mae: 64171.8945
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 61788.1719 - mae: 61788.1719 - val_loss: 58333.0859 - val_mae: 58333.0859
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 56576.3242 - mae: 56576.3242 - val_loss: 54342.6523 - val_mae: 54342.6523
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 53178.0859 - mae: 53178.0859 - val_loss: 52192.1211 - val_mae: 52192.1211
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 51438.5273 - mae: 51438.5273 - val_loss: 51294.6953 - val_mae: 51294.6953
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 50693.5312 - mae: 50693.5312 - val_loss: 50951.4297 - val_mae: 50951.4297
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 50348.0391 - mae: 50348.0391 - val_loss: 50840.1445 - val_mae: 50840.1445
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 50196.2773 - mae: 50196.2773 - val_loss: 50789.7422 - val_mae: 50789.7422
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 50102.3984 - mae: 50102.3984 - val_loss: 50749.4414 - val_mae: 50749.4414
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 50036.5703 - mae: 50036.5703 - val_loss: 50721.7070 - val_mae: 50721.7070
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 49987.6758 - mae: 49987.6758 - val_loss: 50694.3281 - val_mae: 50694.3281
Epoch 18/100
250/250 [==============================] - 1s 2ms/step - loss: 49945.1836 - mae: 49945.1836 - val_loss: 50664.3672 - val_mae: 50664.3672
Epoch 19/100
250/250 [==============================] - 1s 2ms/step - loss: 49913.5547 - mae: 49913.5547 - val_loss: 50635.3242 - val_mae: 50635.3242
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 49883.3594 - mae: 49883.3594 - val_loss: 50615.7031 - val_mae: 50615.7031
Epoch 21/100
250/250 [==============================] - 1s 2ms/step - loss: 49857.4961 - mae: 49857.4961 - val_loss: 50589.3125 - val_mae: 50589.3125
Epoch 22/100
250/250 [==============================] - 1s 2ms/step - loss: 49829.6758 - mae: 49829.6758 - val_loss: 50559.8281 - val_mae: 50559.8281
Epoch 23/100
250/250 [==============================] - 1s 2ms/step - loss: 49807.0312 - mae: 49807.0312 - val_loss: 50539.7148 - val_mae: 50539.7148
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 49785.5273 - mae: 49785.5273 - val_loss: 50527.8008 - val_mae: 50527.8008
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 49765.3164 - mae: 49765.3164 - val_loss: 50506.8906 - val_mae: 50506.8906
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 49747.4062 - mae: 49747.4062 - val_loss: 50494.3945 - val_mae: 50494.3945
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 49726.8008 - mae: 49726.8008 - val_loss: 50483.9336 - val_mae: 50483.9336
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 49710.9336 - mae: 49710.9336 - val_loss: 50468.8867 - val_mae: 50468.8867
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 49696.5547 - mae: 49696.5547 - val_loss: 50452.7461 - val_mae: 50452.7461
Epoch 30/100
250/250 [==============================] - 1s 2ms/step - loss: 49681.1523 - mae: 49681.1523 - val_loss: 50442.8008 - val_mae: 50442.8008
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 49666.0039 - mae: 49666.0039 - val_loss: 50429.6992 - val_mae: 50429.6992
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 49651.3867 - mae: 49651.3867 - val_loss: 50411.2812 - val_mae: 50411.2812
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 49641.9023 - mae: 49641.9023 - val_loss: 50409.6875 - val_mae: 50409.6875
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 49625.8672 - mae: 49625.8672 - val_loss: 50414.4297 - val_mae: 50414.4297
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 49614.8867 - mae: 49614.8867 - val_loss: 50405.1289 - val_mae: 50405.1289
Epoch 36/100
250/250 [==============================] - 1s 2ms/step - loss: 49599.0547 - mae: 49599.0547 - val_loss: 50395.1953 - val_mae: 50395.1953
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49588.0508 - mae: 49588.0508 - val_loss: 50387.7969 - val_mae: 50387.7969
Epoch 38/100
250/250 [==============================] - 1s 2ms/step - loss: 49578.1172 - mae: 49578.1172 - val_loss: 50379.8984 - val_mae: 50379.8984
Epoch 39/100
250/250 [==============================] - 1s 2ms/step - loss: 49564.3750 - mae: 49564.3750 - val_loss: 50369.8398 - val_mae: 50369.8398
Epoch 40/100
250/250 [==============================] - 1s 2ms/step - loss: 49556.9688 - mae: 49556.9688 - val_loss: 50369.4648 - val_mae: 50369.4648
Epoch 41/100
250/250 [==============================] - 1s 2ms/step - loss: 49547.3320 - mae: 49547.3320 - val_loss: 50367.9062 - val_mae: 50367.9062
Epoch 42/100
250/250 [==============================] - 1s 2ms/step - loss: 49539.3984 - mae: 49539.3984 - val_loss: 50371.8711 - val_mae: 50371.8711
Epoch 43/100
250/250 [==============================] - 1s 2ms/step - loss: 49528.5547 - mae: 49528.5547 - val_loss: 50360.2578 - val_mae: 50360.2578
Epoch 44/100
250/250 [==============================] - 1s 2ms/step - loss: 49521.8086 - mae: 49521.8086 - val_loss: 50362.8047 - val_mae: 50362.8047
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 49514.1406 - mae: 49514.1406 - val_loss: 50355.7148 - val_mae: 50355.7148
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 49506.0781 - mae: 49506.0781 - val_loss: 50350.2461 - val_mae: 50350.2461
Epoch 47/100
250/250 [==============================] - 1s 2ms/step - loss: 49496.9102 - mae: 49496.9102 - val_loss: 50351.3164 - val_mae: 50351.3164
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 49490.5898 - mae: 49490.5898 - val_loss: 50344.9805 - val_mae: 50344.9805
Epoch 49/100
250/250 [==============================] - 1s 2ms/step - loss: 49481.9375 - mae: 49481.9375 - val_loss: 50331.0547 - val_mae: 50331.0547
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 49474.6914 - mae: 49474.6914 - val_loss: 50328.0977 - val_mae: 50328.0977
Epoch 51/100
250/250 [==============================] - 1s 3ms/step - loss: 49467.3633 - mae: 49467.3633 - val_loss: 50328.3633 - val_mae: 50328.3633
Epoch 52/100
250/250 [==============================] - 1s 4ms/step - loss: 49460.8164 - mae: 49460.8164 - val_loss: 50330.6875 - val_mae: 50330.6875
Epoch 53/100
250/250 [==============================] - 1s 4ms/step - loss: 49455.0469 - mae: 49455.0469 - val_loss: 50331.8789 - val_mae: 50331.8789
Epoch 54/100
250/250 [==============================] - 1s 3ms/step - loss: 49447.8125 - mae: 49447.8125 - val_loss: 50331.2852 - val_mae: 50331.2852
Epoch 55/100
250/250 [==============================] - 1s 2ms/step - loss: 49442.2539 - mae: 49442.2539 - val_loss: 50339.6367 - val_mae: 50339.6367
Epoch 56/100
250/250 [==============================] - 1s 2ms/step - loss: 49436.4492 - mae: 49436.4492 - val_loss: 50331.6758 - val_mae: 50331.6758
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 49429.8203 - mae: 49429.8203 - val_loss: 50326.1367 - val_mae: 50326.1367
Epoch 58/100
250/250 [==============================] - 1s 3ms/step - loss: 49426.0977 - mae: 49426.0977 - val_loss: 50329.0508 - val_mae: 50329.0508
Epoch 59/100
250/250 [==============================] - 1s 2ms/step - loss: 49421.4844 - mae: 49421.4844 - val_loss: 50322.6523 - val_mae: 50322.6523
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 49414.1953 - mae: 49414.1953 - val_loss: 50327.9492 - val_mae: 50327.9492
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 49406.3750 - mae: 49406.3750 - val_loss: 50315.2578 - val_mae: 50315.2578
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 49403.8164 - mae: 49403.8164 - val_loss: 50307.6680 - val_mae: 50307.6680
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 49402.2773 - mae: 49402.2773 - val_loss: 50304.0039 - val_mae: 50304.0039
Epoch 64/100
250/250 [==============================] - 1s 3ms/step - loss: 49392.5664 - mae: 49392.5664 - val_loss: 50317.1133 - val_mae: 50317.1133
Epoch 65/100
250/250 [==============================] - 1s 3ms/step - loss: 49386.5234 - mae: 49386.5234 - val_loss: 50305.9414 - val_mae: 50305.9414
Epoch 66/100
250/250 [==============================] - 1s 2ms/step - loss: 49385.7812 - mae: 49385.7812 - val_loss: 50301.8203 - val_mae: 50301.8203
Epoch 67/100
250/250 [==============================] - 1s 2ms/step - loss: 49380.0195 - mae: 49380.0195 - val_loss: 50306.2148 - val_mae: 50306.2148
Epoch 68/100
250/250 [==============================] - 1s 2ms/step - loss: 49373.3594 - mae: 49373.3594 - val_loss: 50294.9336 - val_mae: 50294.9336
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 49374.9023 - mae: 49374.9023 - val_loss: 50294.0781 - val_mae: 50294.0781
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 49367.0117 - mae: 49367.0117 - val_loss: 50299.1992 - val_mae: 50299.1992
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 49362.8594 - mae: 49362.8594 - val_loss: 50302.1406 - val_mae: 50302.1406
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 49358.3047 - mae: 49358.3047 - val_loss: 50299.5859 - val_mae: 50299.5859
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 49354.6328 - mae: 49354.6328 - val_loss: 50300.8672 - val_mae: 50300.8672
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 49350.6328 - mae: 49350.6328 - val_loss: 50306.9492 - val_mae: 50306.9492
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 49345.5156 - mae: 49345.5156 - val_loss: 50303.2852 - val_mae: 50303.2852
Epoch 76/100
250/250 [==============================] - 1s 2ms/step - loss: 49341.3281 - mae: 49341.3281 - val_loss: 50309.8555 - val_mae: 50309.8555
Epoch 77/100
250/250 [==============================] - 1s 3ms/step - loss: 49337.6641 - mae: 49337.6641 - val_loss: 50301.6758 - val_mae: 50301.6758
Epoch 78/100
250/250 [==============================] - 1s 4ms/step - loss: 49333.9219 - mae: 49333.9219 - val_loss: 50301.7852 - val_mae: 50301.7852
Epoch 79/100
250/250 [==============================] - 1s 3ms/step - loss: 49335.2695 - mae: 49335.2695 - val_loss: 50300.9453 - val_mae: 50300.9453